<div id="stock-list">
  <h2>Stock List</h2>
  <table class="shadow-lg bg-white">
    <tr>
      <th class="bg-blue-100 border text-left px-8 py-4">Ticker</th>
      <th class="bg-blue-100 border text-left px-8 py-4">Name</th>
      <th class="bg-blue-100 border text-left px-8 py-4">Last</th>
      <th class="bg-blue-100 border text-left px-8 py-4">Amount Change</th>
      <th class="bg-blue-100 border text-left px-8 py-4">Percent Change</th>
    </tr>
    <tr *ngFor="let element of stocks">
      <td class="border px-8 py-4">
        <a [routerLink]="['/stocks', element.ticker]"> {{ element.ticker }} </a>
      </td>
      <td class="border px-8 py-4">{{ element.name }}</td>
      <td class="border px-8 py-4">{{ element.last }}</td>
      <td class="border px-8 py-4">{{ element.change }}</td>
      <td class="border px-8 py-4"> {{ element.percent_change | percent: ".2-4" }}</td>
    </tr>
  </table>
</div>
