build/
.idea
**/*.iml
**/target/**
/stock-quote/src/main/resources/api.yml
/stock-quote/mvnw
/stock-quote/mvnw.cmd
/stock-quote/.mvn/
/docker/elk/elasticsearch/data/
/docker/elk/filebeat/data/
/docker/mongo/data/
docker/.mvn/
docker/mvnw
docker/mvnw.cmd.history\
.angular\
.vscode\
mvnw.cmd
