build/
.idea
**/*.iml
**/target/**
/stock-quote/src/main/resources/api.yml
/stock-quote/mvnw
/stock-quote/mvnw.cmd
/stock-quote/.mvn/
/elk/elasticsearch/data/nodes/
/elk/filebeat/data/registry/
/elk/filebeat/data/meta.json
